---
layout: bloglist
title: Blogs
---

<div class="blogs_container">
<h1 class="blog_list_header">Blog Posts</h1>
<hr><br>
<div class="blog_list">
{% for post in site.posts %}
  <div class="blog_topicbar">{{ post.type }}</div>
  <div class="blog_list_items">
    <h2><a href="{{ BASE_PATH }}{{ post.url }}"><span class="display_title">{{ post.title }}</span></a></h2>
  <p class="lead">{{ post.content | strip_html | truncatewords:50 }}</p> 
  <a href="{{ post.url }}" class="bloglist_readmore">Read More</a><br><br>
  </div><br>
{% endfor %}
</div>
</div>
<!-- {% for post in site.posts %}
  <a href="{{ post.url }}" class="btn btn-default">{{ post.title }}</a><br>
{% endfor %} -->
