@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Quicksand:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html,
body {
  font-family: 'Bitter', serif;
  margin: 0px;
  padding: 0px;
  background: #fcfcfc;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-title {
  text-align: center;
  font-size: 35px;
  margin: 30px;
  font-weight: bold;
}

.home-title > span {
  font-style: italic;
  font-size: 32px;
  color: #df120b;
}

.home-title > span > span {
  color: #ff8017;
}

.home-title > span > span > span {
  color: #e7d916;
}

.home-title > span > span > span > span {
  color: #47ca0a;
}

.home-title > span > span > span > span > span {
  color: #0a6dca;
}

.home-title > span > span > span > span > span > span {
  color: #8d0aca;
}

.side-navbar {
  position: fixed;
  min-width: 295px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f8f8f8;
}

.side-link {
  width: 100%;
  text-decoration: none;
  color: black;
}

.side-link > div {
  border-bottom: 1px solid #dfdfdf;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-link-right {
  color: grey;
}

.sidebar-spacer {
  min-width: 295px;
}

.side-content {
  margin-left: 15px;
  width: 100%;
  border-right: 1px solid #dfdfdf;
  height: inherit;
}

.side-title {
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
  font-size: 23px;
  text-align: center;
}

.top-title {
  color: #000000;
  font-weight: bold;
  font-size: 23px;
}

.side-subtitle {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 17px;
  color: #000000;
  text-align: center;
  margin-bottom: 5px;
}

.side-colorbar {
  width: 12px;
  height: 100%;
  background: #8d0505;
  position: fixed;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.home-posts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: inherit;
  font-family: 'Bitter', serif;
}

.post-card-link {
  margin: 10px;
  text-decoration: none;
}

.post-card {
  color: black;
  width: 300px;
  height: 70px;
  border-color: #d6d6d6;
  padding-left: 20px;
  padding: 30px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  background: white;
}

.post-card > h2 {
  padding: 0px;
  font-weight: normal;
  margin: 0px;
  margin-top: 14px;
  margin-bottom: 5px;
}

.post-card > em {
  width: inherit;
  color: #383838;
}

.home-post-header {
  font-size: 35px;
  text-align: center;
}

.topnav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 60px;
  background: #f8f8f8;
  border-bottom: 1px solid #dfdfdf;
}

.topnav-content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topnav-content > div {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 13px;
}

.top-subtitle {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 17px;
  color: #000000;
}

.topnav-colorbar {
  height: 6px;
  background: #8d0505;
  width: 100%;
}

.menuiconwrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
  color: #8d0505;
  font-weight: bold;
  font-size: 33px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 25px;
}

.content {
  max-width: 1000px;
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Quicksand', sans-serif;
  line-height: 25px;
}

img {
  width: 100%;
}

.postTitle {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Bitter', serif;
  line-height: normal;
  margin-top: 30px;
}

.postDate {
  text-align: center;
  color: grey;
  font-family: 'Bitter', serif;
}

.postAuthor {
  text-align: right;
}

@media (max-width: 1000px) {
  .content {
    margin-left: 50px;
    margin-right: 50px;
  }
  .side-navbar {
    display: none;
  }
  .topnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sidebar-spacer {
    display: none;
  }
}

@media (max-width: 700px) {
  .content {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 550px) {
  .top-subtitle {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */