#navy {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navy li {
    float: left;
}

#navy li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

#navy a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}
#bar {
    background-color: #333;
}