#megabox {
    padding-top: 90px;
    padding-left: 50px;
}
#toptitle {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 500px;
    padding-top: 5px; 
}
#navbar {
    width: 2000px;
    height: 80px;
    background-color: #6f9acb;
    margin-top: -10px;
    margin-top: -22px;
    margin-left: -8px;
    position: fixed;
    opacity: 0.9;
}
#test {
    height: 875px;
    width: 10px;
}
#home {
    color: red;
    width: 50px;
    height: 50px;
}
#mastari-visuals {
    width: 480px;
    height: 75px;
    margin-top: 7px;
    margin-left: 60px;

}
body {
    background-color: #fefefe;
}
#homebox {
    background-color: lightblue;
    width: 500px;
    height: 225px;
    border-radius: 5px;
}
#homebox-title {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}