@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Quicksand:wght@500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  font-family: 'Bitter',
    serif;
  margin: 0px;
  padding: 0px;
  background: rgb(252, 252, 252);
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
}

.home-title {
  text-align: center;
  font-size: 35px;
  margin: 30px;
  font-weight: bold;
  font-family: 'Bitter',
    serif;

  &>span {
    // text-shadow: 1px 1px #3b3b3b;
    // font-family: Arial,
    //   Helvetica,
    //   sans-serif;
    font-style: italic;
    font-size: 32px;
    color: #df120b;

    &>span {
      color: rgb(255, 128, 23);

      &>span {
        color: rgb(231, 217, 22);

        &>span {
          color: rgb(71, 202, 10);

          &>span {
            color: rgb(10, 109, 202);

            &>span {
              color: rgb(141, 10, 202);
            }
          }
        }
      }
    }
  }
}

.side-navbar {
  // border: 1px solid black;
  position: fixed;
  min-width: 295px;
  height: 100%;
  display: flex;
  background: rgb(248, 248, 248);
}

.side-links {}

.side-link {
  width: 100%;
  text-decoration: none;
  color: black;

  &>div {
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
}

.side-link-right {
  color: grey;
}

.sidebar-spacer {
  min-width: 295px;
  // border: 1px solid red;
}

.side-content {
  margin-left: 15px;
  width: 100%;
  border-right: 1px solid rgb(223,
      223,
      223);
  height: inherit;
}

.side-title {
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
  font-size: 23px;
  text-align: center;
  // font-family: 'Open Sans', sans-serif;
}

.top-title {
  color: #000000;
  font-weight: bold;
  font-size: 23px;
  // font-family: 'Open Sans', sans-serif;
}

.side-subtitle {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 17px;
  color: #000000;
  text-align: center;
  margin-bottom: 5px;
}

.side-colorbar {
  width: 12px;
  height: 100%;
  background: #8d0505;
  position: fixed;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

.home-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;

  // padding: 30px;
  // border: 2.5px solid rgb(241, 241, 241);
  // border-radius: 8px;
  // background: white;
}

.home-posts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: inherit;
  font-family: 'Bitter', serif;
}

.post-card-link {
  margin: 10px;
  text-decoration: none;
}

.post-card {
  color: rgb(0, 0, 0);
  // box-shadow: 0px 0px 10px #dddddd;
  width: 300px;
  height: 70px;
  // border-bottom: 1px solid rgb(0, 0, 0);
  // border-top: 1px solid rgb(0, 0, 0);
  border-color: rgb(214, 214, 214);
  padding-left: 20px;
  padding: 30px;
  border: 1px solid rgb(185, 185, 185);
  // border-radius: 4px;
  background: white;
  // box-shadow: 2px 2px 0px black;

  &>h2 {
    padding: 0px;
    font-weight: normal;
    margin: 0px;
    margin-top: 14px;
    margin-bottom: 5px;
  }


  &>em {
    width: inherit;
    color: rgb(56, 56, 56);
  }
}

.home-post-header {
  font-size: 35px;
  text-align: center;

}

.topnav {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 60px;
  background: rgb(248, 248, 248);
  border-bottom: 1px solid rgb(223, 223, 223);
}

.topnav-content {
  height: 100%;
  width: 100%;
  display: flex;

  &>div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 13px;
  }
}

.top-subtitle {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 17px;
  color: #000000;
}

.topnav-colorbar {
  height: 6px;
  background: #8d0505;
  width: 100%;
}

.menuiconwrapper {


  width: fit-content;
  height: fit-content;
  text-decoration: none;
  color: #8d0505;
  font-weight: bold;
  font-size: 33px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 25px;
}


.content {
  max-width: 1000px;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Quicksand', sans-serif;
  font-family: Arial;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(10, 10, 10);
  line-height: 25px;
}

img {
  width: 100%;
}

.postTitle {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Bitter', serif;
  line-height: normal;
  margin-top: 30px;
}

.postDate {
  text-align: center;
  color: grey;
  font-family: 'Bitter', serif;
}

.postAuthor {
  text-align: right;
}

@media (max-width: 1000px) {

  .content {
    margin-left: 50px;
    margin-right: 50px;
  }

  .side-navbar {
    display: none;
  }

  .topnav {
    display: flex;
  }

  .sidebar-spacer {
    display: none;
  }
}

@media (max-width: 700px) {
  .content {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 550px) {
  .top-subtitle {
    display: none;
  }
}

@media (min-width: 1000px) {
  .post-card {
    width: 250px;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(77, 15, 15, 0.945);
  overflow-x: hidden;
  transition: 0.5s;
  color: white;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}