.pageheader {
  flex-direction: row;
  color: rgb(31, 31, 31);
  margin-top: 80px;
  padding: 20px;
  padding-bottom: 0px;

  @media screen and (max-width:1000px) {
    flex-direction: column;
  }

}

.pageheaderbg {
  background-color: rgb(0, 176, 230);
  width: 100%;
  padding-bottom: 60px;
}

.leftpageheader {
  width: 500px;
  align-self: center;
  padding-top: 40px;
  color: white;
  font-style: italic;

  &>h1 {
    line-height: 1.3em;
    font-style: normal;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 0 rgb(5, 87, 112),
      1px 1px 1px rgb(2, 70, 90);

    @media screen and (max-width:1000px) {
      font-size: 25px;
      text-align: center;
    }
  }


  @media screen and (max-width:1000px) {
    width: 100%;
    padding-top: 15px;
  }


  &>div {
    line-height: 1.5em;
    font-size: 20px;

  }

}

.rightpageheader {
  width: 500px;
  margin-left: 50px;
  align-self: center;

  &>img {
    margin-top: 20px;
    width: 100%;

    @media screen and (max-width:576px) {
      margin: 0px;
    }
  }

  @media screen and (max-width:1000px) {
    margin: 0px;
  }

  @media screen and (max-width:576px) {
    width: 300px;
  }
}

.ourmissioncontainer {
  display: flex;
  flex-direction: column;
}

.ourmissiontitle {
  text-align: center;
  padding: 30px;
  font-size: 21px;

  @media screen and (max-width:800px) {
    font-size: 15.5px;
    text-align: center;
    padding: 0px;
    padding-top: 30px;
  }
}

.threesplit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width:1000px) {
    flex-direction: column;
  }

  &>div {
    width: 25%;
    padding: 20px;
    border-radius: 20px;

    @media screen and (max-width:1000px) {
      width: 75%;
      align-self: center;
      margin: 30px;
    }
  }

  &>div>h2 {
    text-align: center;
    font-weight: 800;
  }

  &>div>p {
    line-height: 1.8em;
  }
}

.studentbox {
  border: 1px solid;
  border-color: rgba(24, 103, 206, 0.24);
}

.teacherbox {
  border: 1px solid;
  border-color: rgba(70, 197, 38, 0.411);
}

.parentbox {
  border: 1px solid;
  border-color: rgba(200, 27, 231, 0.212);
}