<h1 class="entry-title">
    {% if post.title %}

      <h2 class="entry-title"><span class="blog_title"><strong>{{ post.title }}</strong></span></h2>
      <div class="blog_info" style="text-align: center">Posted by <span class="authorname">{{ post.author }}</span> / On {{ post.date | date_to_long_string}} </div>
    {% endif %}
  </h1>
  <div class="display_content">{{ content }}<br><br><a href="{{ root_url }}{{ post.url }}" class= "btn btn-primary btn-md">Go To Post</a></div>

<!--Calling The Display Of A Blog Post-->