@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato');
.blog_post_container
{
  display: inline-block;
  text-align: left;
    margin-top: 25px;
  vertical-align: top;
      line-height: 28px;
      font-size: 15px;
}
.blog_box {
    margin-top: 40px;
}
.blog_extra
{
  display: none;
  position: fixed;
  z-index: 1;
  text-align: left;
  color: rgb(255, 255, 255);
  background-color: rgb(218, 139, 11);
  margin-top: -28px;
  padding-top: 20px;
  box-shadow: 2px 2px 2px rgb(192, 122, 10);
}
.extra_container {
    position: relative,fixed;
    z-index: 0;
}
.extra_title {
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.extra_content {
    text-align: center;
}
.post_jump .btn {
    color: rgb(255, 255, 255);
    margin-right: 5px;
    margin-left: 5px;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.blog_info {
    color: #686a6d;
    margin-top: 5px;
    font-size: 16px;
}
.authorname {
    color: rgb(207, 130, 6);
    font-size: 17px;
}
.blog_title {
    text-align: center;
    text-shadow: 0.15px 0.15px 0.15px #aaa;
    font-size: 32px;
}
.blog_divider {
    height: 2px;
    width: 30%;
    border: 0 none;
    background-color:#2579CC;
    margin-bottom: 30px;
    max-width: 250px;
}
.entry-title {
 text-align: center;
}
.blog_seg {
    text-align: center;
    font-size: 20px;
}
.blog_text {
    font-size: 16px;
    
}

.post_button {
    text-align: center;
    color: #27386b;
    font-size: 17px;
    margin-top: 13px;
    display: none;
}
.post_button a {
    text-align: center;
    color: #2446ad;
    font-style: italic;
        text-decoration: none;
        margin-left: 12px;
        margin-right: 12px;
        font-size: 15px;
        font-weight: bold;
}
@media only screen and (max-width: 789px) {
    .blog_post_container {
        margin-left: 3%;
        margin-right: 3%;
    }
    .blog_text {
        font-size: 17.5px;
        line-height: 26px;
    }
    .blog_seg {
        font-size: 20px;
    }
    .blog_title {
        font-size: 26px;
    }
    .post_button {
        display: block;
    }
}
@media only screen and (min-width: 790px) {
    .blog_post_container {
        max-width: 60%;
        margin-left:9%;
    }
    .blog_extra {
        display: inline-block;
        width: 26%;
        margin-left:3%;
    }
    .blog_text {
        font-size: 19px;
    }
    .blog_seg {
        font-size: 22px;
    }
    .blog_title {
        font-size: 36px;
    }
    .blog_info {
        font-size: 18px;
    }
    .authorname {
        font-size: 19px;
    }
}
@media only screen and (min-width: 1130px) {
    .blog_post_container {
        max-width: 60%;
        margin-left:15%;
    }
    .blog_extra {
        display: inline-block;
        width: 18%;
        margin-left:3%;
    }
}
@media only screen and (min-width: 1950px) {
    .blog_post_container {
        width: 1500px;
        margin-left:15%;
    }
    .blog_extra {
        display: inline-block;
        width: 305px;
        margin-left:2%;
    }
}

/*BREAAAAAK*/

.navitem {
  display: block;
  float:left;
}
#aboutitem {
  display: block;
  float:right;
}
#dropdown {
  display: none;
}
#navbar {
  overflow: hidden;
  background-color: #021B2B;
  z-index: 10;
  position: fixed;
  width: 100%;
  margin-top: 0px;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #1171AD;

  color: white;
}