<!DOCTYPE html>
<html lang="en">
    <head>
       <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/../assets/css/general_style.css"/>
    </head>
    
    <body>
      <div class="master">
        <nav class="nav">
            <ul>
                <li><a class="nitem" href="/">MASTARI</a></li>
                <li><a class="nitem" href="/">HOME</a></li>
                <li><a class="nitem" href="/blogs.html">BLOG</a></li>
                <li><a class="nitem" href="/about.html">ABOUT</a></li>
            </ul>
        </nav>
        <div class="page"> 
            <div class="content">
                    {{ content }}
            </div>
        </div>
        </div>
{% include analytics.html %}
    </body>
</html>
<!--ACTUAL BLOG POST LAYOUT -->